---
title: Home
layout: base.njk
---

<header className="p-8">
  <nav>
    <ul class="flex justify-between mt-10">
      <li><a class="text-red-500" href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
